.icom-sm {
    font-size: 2rem;
}

.image-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.fa-heart {
    font-size: 1.5rem;
}

.xsmall {
    font-size: 0.65rem;
}

.icon-lg {
    font-size: 9rem;
}

.grid-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.avatar-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.avatar-sm {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.icon-md {
    font-size: 3.5rem;
}

.avatar-md {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

.col-desc {
    font-size: 0.75rem;
}

.dropdown-toggle::after {
    display: none !important;
}

#search-li {
    position: relative; 
}

#search-input-container {
    display: none; 
    position: absolute; 
    top: 100%;
    right: 0;
    left: auto;
    z-index: 1000;
    padding-top: 8px;
    width: 250px;
    background: white; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    padding: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-active {
    display: block !important; 
}

#search-input-container form {
    margin-bottom: 0;
}